{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "rules": {
    react/jsx-filename-extension: "off",
    import/prefer-default-export: "off"
  }
}
